<div class="cate">
    <div class="cate_title">
        <div class="cate_c">
            <div class="cate_l">
                <div class="cate_r">
                    <a href="javascript:void(0);">KHÁCH HÀNG CHIẾN THẮNG</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cate_content">

        <div class="cate_down">
            <img src="{DNS}/images/design/cate_down.png" />
        </div>
        <div class="child_item" style="display:inline;">
            <span style="padding-right:5px; font-size:12px; line-height:20px;">Thông tin KH trúng thưởng sẽ được cập nhật từ ngày 05/10 sau khi kết thúc tuần đấu giá đầu tiên và các thông tin về KH trúng thưởng được xác minh.</span>
        </div>
    </div>
</div>
