<div class="detail">
    <div class="title">
        VLIVEQUIZ - THỬ TÀI CÙNG VINAPHONE
    </div>
    <div class="content">
        <p>
            <b>1. Tên chương trình: VLIVEQUIZ - THỬ TÀI CÙNG VINAPHONE</b></p>
        <p>
            <b>2. Giới thiệu chương trình</b></p>
        <p class="padleft">
            Nhằm tạo ra sân chơi bổ ích và lý thú cho các khách hàng, Vinaphone xin thông báo triển khai chương trình “Thử tài cùng Vinaphone”. Đây là chương trình trò chơi có thưởng cho các khách hàng tham gia trả lời câu hỏi trên ứng dụng dịch vụ của Vlive.
        </p>
        <p class="padleft">
            Nội dung câu hỏi sẽ được thể hiện trên màn hình điện thoại của khách hàng, người chơi sẽ lựa chọn các phương án A, B, C hoặc D cho đáp án của câu hỏi đó. Mỗi câu hỏi cách nhau tối đa là 60 giây, trong vòng 60 giây mà người chơi chưa có đáp án thì coi như người chơi đã trả lời sai câu hỏi đó. Đối tượng áp dụng:
        </p>
        <p class="padleft">
            Tất cả các khách hàng là thuê bao trả trước, trả sau của VinaPhone đang sử dụng dịch vụ Vlive Cách thức tham gia chương trình:
        </p>
        <p class="padleft">
        Khách hàng chỉ cần đăng ký Dịch vụ V-live của Vinaphone.
        </p>
    </div>
</div>
