<div class="detail">
    <div class="title">
        CÂU HỎI THƯỜNG GẶP
    </div>
    <div class="content">
        <p>
            <b><i style="text-decoration: underline;">1.Câu hỏi: </i></b> Tôi muốn tham gia chương trình “Thử tài cùng Vinaphone” thì phải làm như thế nào?</p>
        <p class="padleft">
            <b><i style="text-decoration: underline;">Trả lời: </i></b>Từ điện thoại của khách hàng chọn: <b>Menu</b> >> <b>VinaPhone</b> >> <b>V-Live</b> >> <b>Kich hoat</b> >> <b>Bat dich vu</b>.
            <br />
            Khi đã kích hoạt dịch vụ, quý khách hàng có thể tham gia vào gameshow “Thử tài cùng Vinaphone” hàng ngày.
        </p>
    </div>
</div>
