<div class="detail">
    <div class="title">
        HƯỚNG DẪN THAM GIA - THỬ TÀI CÙNG VINAPHONE
    </div>
    <div class="content">
        <p>
            <b>1.Đối tượng áp dụng:</b></p>
        <p class="padleft">
            Tất cả các khách hàng là thuê bao trả trước, trả sau của VinaPhone đang sử dụng dịch vụ Vlive
        </p>
        <p>
            <b>2.Cách thức tham gia chương trình:</b></p>
        <p class="padleft">
            Quý khách có thể đăng ký sử dụng dịch vụ với 2 hình thức:
        </p>
        <p class="padleft">
            <ul>
                <li>
                    Hình thức 1 : gọi điện đến số 9191 để yêu cầu Tổng đài kích hoạt dịch vụ Vlive</li>
                <li>
                    Hình thức 2 : Từ điện thoại di động của Quý khách, chọn MENU >> VinaPhone >> V-Live >> Kich hoat >>Mo dich vu.
                    <br />
                    <i>(Note : với một số dòng máy, biểu tượng VinaPhone có thể nằm trong mục ỨNG DUNG (APPLICATION)</i>
                </li>
            </ul>
        </p>
        <p>
            <b>3.Giá cước</b></p>
        <p class="padleft">
            3.000 đồng/lần khách hàng tham gia trả lời câu hỏi Vlive Quiz
        </p>
        <p>
            <b>4.Khung giờ phát tin</b></p>
        <p class="padleft">
            <ul>
                <li>
                    Sáng: Từ 9h – 9h30
                </li>
                <li>
                    Chiều: Từ 15h – 15h30 và 17h30 – 18h
                </li>
                <li>
                    Tối: 20h – 21h
                </li>
                Các khung giờ này sẽ chạy tất cả các ngày trong tuần
            </ul>
        </p>
        <p>
            <b>5.Tra cứu thông tin</b></p>
        <p class="padleft">
            <ul>
                <li>
                    Để tra cứu điểm tích lũy theo ngày. Khách hàng soạn tin:<b> VQ N gửi 9393</b>
                </li>
                <li>
                    Để tra cứu điểm tích lũy theo tuần. Khách hàng soạn tin:<b> VQ T gửi 9393 </b>
                </li>
            </ul>
        </p>
        <p>
            <b>6.Cơ cấu giải thưởng và cơ chế nhận giải</b></p>
        <p class="padleft">
            Thử tài cùng VNP là chương trình gameshow có thưởng đặc sắc giành riêng cho thuê bao của mạng di động Vinaphone. Chương trình tổng kết trao giải thưởng theo tuần. Mỗi tuần Ban tổ chức sẽ tiến hành trao 2 giải thưởng:
        </p>
        <p class="padleft">
            <ul>
                <li>
                    Giải thưởng giành cho người có số điểm cao nhất là: 2 triệu đồng tiền mặt.
                    <br />
                    <i>Note: Trường hợp có 2 khách hàng bằng điểm nhau thì sẽ tính bằng tổng thời gian của 2 người tham gia trả lời, ai có thời gian ít hơn sẽ giành chiến thắng. </i>
                </li>
                <li>
                    Giải thưởng giành cho khách hàng có số lần chơi nhiều nhất là: 1 triệu đồng tiền mặt</li>
                <li>
                    Hình thức trao giải: Gọi điện trực tiếp, hoặc gửi SMS từ tổng đài 18001091 để được hướng dẫn làm thủ tục nhận thưởng.
                </li>
                <li>
                    Sau đó một 1 tuần (tính từ 0h00 Thứ 2 đến 23h59’ CN hàng tuần) hệ thống sẽ reset lại toàn bộ số điểm để bắt đầu một quy trình tuần chơi tiếp sau.
                </li>
            </ul>
        </p>
        <p>
            <b>7.Nguyên tắc trả thưởng</b></p>
        <p class="padleft">
            <ul>
                <li>
                    Giải thưởng của chương trình chỉ được trao cho chủ thuê bao trúng thưởng. Trường hợp chủ thuê bao không thể nhận giải có thể làm giấy ủy quyền có xác nhận của cấp có thẩm quyền (phường, xã) cho người khác nhận thay.</li>
                <li>
                    Vào thời điểm nhận giải thưởng số thuê bao trúng thưởng phải đang ở trạng thái hoạt động cả 2 chiều.
                </li>
                <li>
                    Các thuê bao trúng thưởng phải có nghĩa vụ đóng các khoản thuế theo quy định của Nhà nước. Các thuê bao từ chối nộp thuế sẽ không nhận được giải thưởng.</li>
                <li>
                    Các thuê bao trúng thưởng nếu không xác định được chủ nhân nhận thưởng hoặc thuê bao từ chối nhận thưởng hoặc VinaPhone không liên hệ được với thuê bao trúng thưởng (trong vòng 10 ngày làm việc) thì giải thưởng sẽ được hủy bỏ và được xử lý theo quy định của Pháp luật.</li>
                <li>
                    Chủ nhân của các thuê bao trúng thưởng sẽ phải tự chịu chi phí đi lại, ăn ở khi đến nhận thưởng.</li>
                <li>
                    VinaPhone có quyền sử dụng tên, hình ảnh của các khách hàng trúng thưởng cho hoạt động truyền thông, quảng cáo… mà không phải trả thêm bất kỳ chi phí nào.
                </li>
            </ul>
        </p>
        <p>
            <b>8.Địa điểm trả thưởng</b></p>
        <p class="padleft">
            <ul>
                <li>
                    Đối với các khách hàng tại Hà Nội: khách hàng đến nhận giải tại Trụ sở Trung tâm Phát triển Dịch vụ - VinaPhone, địa chỉ 57A Huỳnh Thúc Kháng, Quận Đống Đa, Hà Nội.</li>
                <li>
                    Đối với các khách hàng tại các tỉnh/thành phố khác, khách hàng đến nhận thưởng tại trụ sở đại diện của VinaPhone tại tỉnh/thành phố đó hoặc VNPT Tỉnh, thành phố đó.</li>
            </ul>
        </p>
    </div>
</div>
