<div class="detail">
    <div class="title">
        THỂ LỆ - THỬ TÀI CÙNG VINAPHONE
    </div>
    <div class="content">
        <p>
            <b>1.Quy định về câu trả lời hợp lệ:</b></p>
        <p class="padleft">
            Câu trả lời hợp lệ: Là câu trả lời bằng cách lựa chọn một trong các phương án cho trước và gửi thành công vào hệ thống của VinaPhone đến hết phút thứ phiên cuối cùng của khung giờ chạy.
        </p>
        <p>
            <b>2.Nguyên tắc tính điểm:</b></p>
        <p class="padleft">
            <ul>
                <li>
                    Khách hàng tham gia chương trình bằng cách tích lũy điểm.</li>
                <li>
                    Nội dung câu hỏi sẽ được thể hiện trên màn hình điện thoại của khách hàng, người chơi sẽ lựa chọn các phương án A, B, C hoặc D cho đáp án của câu hỏi đó. Mỗi câu hỏi cách nhau tối đa là 60 giây, trong vòng 60 giây mà người chơi chưa có đáp án thì coi như người chơi đã trả lời sai câu hỏi đó.</li>
                <li>
                    Với mỗi 01 câu trả lời đúng, người chơi sẽ được 10 điểm tích lũy. Trả lời sai hoặc để quá thời gian 60 giây thì không ghi được điểm.</li>
                <li>
                    Sau mỗi tuần hệ thống sẽ reset lại từ đầu nghĩa là toàn bộ số điểm của mỗi người chơi sẽ bằng 0 và bắt đầu một quy trình giải thưởng cho tuần tiếp theo.</li>
            </ul>
        </p>
    </div>
</div>
