<div class="winner">
    <div class="winner_repeat">
        <table cellpadding="2" cellspacing="0">
            <tr>
                <th>
                    HỌ TÊN
                </th>
                <th>
                    SỐ ĐIỆN THOẠI
                </th>
                <th>
                    TUẦN
                </th>
                <th>
                    ĐIỂM
                </th>
                  <th>
                    THỜI GIAN TRẢ LỜI
                </th>
                <th>
                    GIẢI THƯỞNG
                </th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>