<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ProcessVlive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="GameKeyword" value="GAME5|GM5"/>
    <add key="VideoKeyword" value="GAME5|GM5"/>
    <add key="RingtoneKeyword" value="GAME5|GM5"/>
    <add key="ImageKeyword" value="GAME5|GM5"/>
    
    <add key="TextBaseKeyword" value="NEWS5|BD5|XS5"/>
    <add key="PacketKeyword" value="PAC5|PACKET5|P5"/>

    <add key="SendMT_UserName" value="NcsMedia01"/>
    <add key="SendMT_Password" value="82a7e11dd20a14143bbf4f4f16c81bf3"/>
    <add key="SendMT_CPID" value="10000"/>
    
    <add key="GetMedia_UserName" value=""/>
    <add key="GetMedia_Password" value=""/>

    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BzFlrXMc1gI7RqO+xOWYGwNurswFrieQC7AIo8T9F00ElFT22UyNfpEGNw/wJAcz2A==" />
  </appSettings>
  <connectionStrings>

    <!--Hot-->
    <add name="strConnection" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23LlzcVgln0fOcEM3QuAl7wTWkEfqg0bnMIzqgT8I1fIHgPewzuZlap1Wfs6+hhRltkviW8Z6K8qD5C0BLG0Pndnyzv8WuIJTly0a4y4MpiL8OtmK+wytUKEYFCbmc9D1rY5Q1AyTtQVfpZIxpA2l5nYZh8JSNA+uxcD7l3lTui2o/IzOTcftTssOD6nqYzvSR1z4="/>
    <!--<add name="SQlConnection_Vlive" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23LlwWJoZLpsNJjXRKhezpV7TCIo3exJica9Ga45YicmQWmoF/e8BQVouzHZufuqKEKQpwO8uz5Q81q+tqvJgS16T3NeZqAnIekLe/gOa9FIO4Vn8ZlkV0jTHQAQSOIxqTY4wHvaoVpU8efmM6ZIEePvKTe/SIwj6RHBTHrp/7DyhQAlnLIboivB8ASX0FK+dq+l0="/>-->

    <!--Local-->
    <add name="SQlConnection_Vlive" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhXRSU9eFuj7UHv1Z6gNs4LOf585HqBuH730CFJjP0uunj3cV4K22NHjZ2iv8C7LAEsNFmPanTt/4tCeci/pefX1SB8XJdWmeyQX251izjCjVsEVrYW23dwllhPOzNyW50SdK/Nyczm77XIChb8FhR4A=="/>
    
  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<applicationSettings>
		<ProcessVlive.Properties.Settings>
			<setting name="ProcessVlive_WS_GetMedia_GetMedia" serializeAs="String">
				<value>http://115.146.122.170:8688/GetMedia.asmx</value>
			</setting>
			<setting name="ProcessVlive_WS_SendMT_Service" serializeAs="String">
				<value>http://115.146.122.173:9093/AgentWS/SMSAgentWS.asmx</value>
			</setting>
		</ProcessVlive.Properties.Settings>
	</applicationSettings>
</configuration>
