<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAccount" value="linhnc@hbcom.vn"/>
    <add key="Password" value=""/>
    <add key="EmailReceiveList" value="linhnc@hbcom.vn"/>
    <add key="Subject" value="Bao cao va thong ke Vlive ngay "/>
    <add key="LicenseKey" value="D/0v/S2oobKoBipBzlXF79KEOitpBXhKRd4CDouXq9KtKLb7tu2IFzO3pvab3arLyk/G4FW/r3LiMK/oN25HmA==" />
    <add key="ListKeyword" value="GAME5|GAME6|CLIP5|IMG5|NEWS5|MUSIC5|BD5|XS5|XS1"/>
  </appSettings>
  
  <connectionStrings>
    
    <remove name="Oracle_Connection_Report" />
    <add name="Oracle_Connection_Report" providerName="System.Data.OracleClient"  connectionString="9qfjwAQCd1ItKuZGY/yQZjlytdhqfaEI0xojokj0VkCvSrjExJCrJjl8ZZ5KeBhPEJ/siItvIkxrK2nxrGsBugwbO9uYkg0ztUdOnylaCwFx8hjHIGV8rW4iM9heBKPt0Kz6Ua3SshQThLNpdWCBSkKUcvDh6L/C1qeMMudQ1WJXDWH/gST7Ud4cYiuBG8+JSvAi4aFSuKJUTnbGoQ6KLsY4ZWUuWL0+fRVa1tH7o0SsRmArpjGhKq4AHrvGhv2YkDgPmqT8kWsNfCVEDl7d1Gwd5Ilv3CtmXyws7dMGjR8="/>
  </connectionStrings>
</configuration>