<div class="InsertLetter">
    <div class="InsertTitle">
        THÊM, CHỈNH SỬA MẨU TIN
    </div>
    <div class="Item">
        <span>Loại bản tin</span>
        <select id="sel_RecordType" onchange="ChangeType();">
            <option value="1" {0}>Bản tin text</option>
            <option value="2" {1}>Bản tin download</option>
        </select>
    </div>
    <div class="Item">
        <span>Phương thức</span>
        <select id="sel_Method">
            <option value="1" {2}>smsdd</option>
            <option value="2" {3}>sms</option>
        </select>
    </div>
    <div class="Item">
        <span>Lời dẫn:</span>
        <input type="text" id="tbx_Introduction" maxlength="15" value="{4}"/>
    </div>
    <div class="Item" id="div_Content">
        <span>Nội dung:</span>
        <textarea id="tbx_Content" onchange="CountCharacter(this);" onkeyup=" return CountCharacter(this);">{5}</textarea>
        <span>&nbsp;</span><label><i>Còn lại <b id="b_count"> 450 </b> (ký tự)</i></label>
    </div>
    <div class="Item" id="div_Keyword">
        <span>Cú pháp</span>
        <input type="text" id="tbx_Keyword" value="{6}"/>
    </div>
     <div class="Item" id="div_ServiceID">
        <span>Đầu số</span>
        <select id="sel_ServiceID">
            <option value="9093" {7}>9093</option>
            <option value="9193" {8}>9193</option>
            <option value="9293" {9}>9293</option>
            <option value="9393" {10}>9393</option>
            <option value="9493" {11}>9493</option>
            <option value="9593" {12}>9593</option>
            <option value="9693" {13}>9693</option>
            <option value="9793" {14}>9793</option>
            <option value="9194" {15}>Nhạc chờ 9194</option>
        </select>
    </div>
    <div class="Item" id="div_Priority">
        <span>Độ ưu tiên</span>
        <input type="text" id="tbx_Priority" value="{16}"/>
    </div>
    <div class="ItemButton">
        <input type="button" value="Lưu" onclick="return SaveRecord(this,{17});" />
    </div>
</div>
