<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../CSS/ForAll.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/Vlive.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/Admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="view_vlive">
        <div class="view_item">
            <fieldset>
                <legend>Bản tin 1</legend>
                <div class="view_letter">
                    <div class="title">
                        <label>
                            Tiêu đề:</label>
                        <b>Tam dung trien khai MAU CHUNG MINH nhan dan moi</b>
                    </div>
                    <div class="push_time">
                        <label>
                            Thời gian phát tin:</label>
                        <i>23/08/2012-09:08:00</i></div>
                </div>
                <div class="view_record">
                    <div class="parent">
                        <fieldset>
                            <legend>Danh sách mẩu tin </legend>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>Doc Tin 2</span></p>
                                <p>
                                    <label>
                                        Nội dung:</label>
                                    <span>Ngay 21/8, theo tin tu Bo Cong an, Lanh dao Bo vua chi dao Tong cuc Canh sat Quan
                                        ly hanh chinh ve trat tu an toan xa hoi tam dung trien khai Thong tu quy dinh ve
                                        mau Chung minh nhan dan moi. Truoc do, Bo Cong an da ban hanh Thong tu so 27/2012/TT-BCA
                                        ngay 16/5/2012 quy dinh ve mau Chung minh nhan dan co hieu luc thi hanh ke tu ngay
                                        1/7/2012. Chung minh nhan dan moi la the nhua, co kich thuoc 85,6mm x 53,98 mm.</span>
                                </p>
                            </div>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>CSGiaoThong15</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>GAME 1690</span></p>
                            </div>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>GameTHAMHoa15</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>GAME 1335</span></p>
                            </div>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>VideoChanDai5</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>CLIP 5868</span></p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="child">
                        <fieldset>
                            <legend>Danh sách mẩu tin con</legend>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>DuaMoToNuoc15</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>GAME 1694</span></p>
                            </div>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>KhiVangAnh5</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>CLIP 5821</span></p>
                            </div>
                            <div class="record_item">
                                <p>
                                    <label>
                                        Lời dẫn:</label><span>Game HUGO 15</span></p>
                                <p>
                                    <label>
                                        Đầu số:</label><span>9752</span></p>
                                <p>
                                    <label>
                                        Cú pháp:</label><span>GAME 526</span></p>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>


