<div class="LetterItem">
    <div class="Title">
        <span>
            <label>
                Lời dẫn:</label>{0}</span>
        <img src="../Images/Buttons/Delete_en.png" onclick="return DeleteRecord(this,{1},true);"/>
        <img src="../Images/Buttons/Edit_en.png" onclick=" UpdateRecord_Parent(this,{1});"/>
        <img src="../Images/Buttons/Insert_en.png" onclick=" ViewInsertRecord_Child(this,{4},{1});" />
        <img src="../Images/Buttons/View_en.png" onclick="ViewRecord_Child(this, {4}, {1});" />
    </div>
     <p class="Content">
        <span>
            <label>
                Cú pháp:</label>
            {3}</span>
    </p>
    <p class="Content">
        <span>
            <label>
                Đầu số:</label>
            {2}</span>
    </p>
</div>
