<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Thời gian ngưng chạy sau mỗi lần chạy xong, được tính bắng Giây-->    
    <add key="TimeDelay" value="60"/>
    <!--Thời gian nhỏ hơn thời gian hiện tại được phép tạo XML (Tính bằng phút)-->
    <add key="BeginDurationTime" value="130"/>
    <!--Thời gian lớn hơn thời gian hiện tại được phép tạo XML (Tính bằng phút)-->
    <add key="EndDurationTime" value="130"/>
    
    <!--Đường dẫn muốn xuất file XML-->
    <add key="ExportXMLPath" value="D:\Publish\"/>

    <add key="News_CateID_1" value="1" />

    <add key="News_CateID" value="1" />

    <add key="LichVanSu_CateID" value="2" />
    <add key="YTe_CateID" value="3" />
    <add key="Clip_CateID" value="4" />
    <add key="Game_CateID" value="5" />
    <add key="TinTuc_CateID" value="6" />
    <add key="TuVan_CateID" value="7" />
    <add key="GiaiTri_CateID" value="8" />
    <add key="NhacCho_CateID" value="9" />
    <add key="GameVlive_CateID" value="10" />
    <add key="NhacChuong_CateID" value="11" />
    <add key="TheThao_CateID" value="12" />


    <add key="LichVanSu_FileName" value="HB_VLive_LVS" />
    <add key="YTe_FileName" value="HB_VLive_YTe" />
    <add key="Clip_FileName" value="HB_VLive_Clip" />
    <add key="Game_FileName" value="HB_VLive_Game" />
    <add key="TinTuc_FileName" value="HB_VLive_TinTuc" />
    <add key="TuVan_FileName" value="HB_VLive_TuVan" />
    <add key="GiaiTri_FileName" value="HB_VLive_GiaiTri" />
    <add key="NhacCho_FileName" value="HB_VLive_NhacCho" />
    <add key="NhacChuong_FileName" value="HB_VLive_NhacChuong" />
    <add key="GameVlive_FileName" value="HB_VLive_GameVlive" />
    <add key="TheThao_FileName" value="HB_VLive_TheThao" />
    
  </appSettings>
  <connectionStrings>
    <remove name="strConnection" />
    <!--<add name="strConnection" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhXRSU9eFuj7UHv1Z6gNs4LOf585HqBuH730CFJjP0uunj3cV4K22NHjZ2iv8C7LAEsNFmPanTt/4tCeci/pefX1SB8XJdWmeyQX251izjCjVsEVrYW23dwllhPOzNyW50SdK/Nyczm77XIChb8FhR4A=="/>-->

    <!--Hot-->
    <add name="strConnection" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23Llwaq4uqzO38ivUSm5ICtHZgbs7kukfdOCZBwnvTwle7zYW7CJnDvfX9nS7AMkcxa+Jj1bEZ5Ip9ybZwSCVFnnB7i6WV/Gll7c4eKEoOJaoOqmpNQtvDCrv5ywbCwhqb5qqQA+gD8+JG+QIBBQFZPTRwgoKTx0F4UBz3zrmg95pOMIuzeayMXEdNQNITfuJ/kOU="/>

  </connectionStrings>
</configuration>