<div class="banner">
    <div class="logo">
        <a href="http://vinaphone.com.vn/">
            <img src="{DNS}/images/design/logo_vina.png" />
        </a>
    </div>
   <div class="logodg">
      
    </div>
    <div class="vinaphone_menu">
        <!-- top menu -->
        <div class="top-menu-container">
            <div class="right_1">
                <ul class="top-menu">
                    <li class="first">
                        <a href="http://vinaphone.com.vn/ytuongsangtao">Ý tưởng sáng tạo</a></li>
                    <li>
                        <a target="_blank" href="http://chonso.vinaphone.com.vn">Chọn số </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://cskh.vinaphone.com.vn">Chăm sóc khách hàng</a></li>
                    <li>
                        <a target="_blank" href="http://vinaphone.com.vn/loyalty">Careplus</a></li>
                    <li class="last">
                        <a href="http://vinaphone.com.vn/personals/homepage">Trang cá nhân </a>
                    </li>
                </ul>
                <ul class="user-menu">
                    <li class="first">
                        <a href="http://vinaphone.com.vn/login.jsp">Đăng nhập</a></li>
                    <li class="last">
                        <a href="http://vinaphone.com.vn/personal/register.do">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <!-- top menu -->
       
    </div>
    {0}
</div>
