<div class="Loading" id="divLoading">
</div>
<div class="footer_out">
<div class="footer">
  
    <div class="footer-center" align="right">
        <ul>
            <li>
                <a href="http://www.vinaphone.com.vn">Trang chủ </a>
            </li>
            <li>
                <a href="http://www.vinaphone.com.vn/aboutus/gioithieu">Giới thiệu </a>
            </li>
            <li>
                <a href="http://www.vinaphone.com.vn/new/homepage">Tin tức </a>
            </li>
            <li>
                <a href="http://www.vinaphone.com.vn/services/homepage">Dịch vụ </a>
            </li>
            <li>
                <a href="http://vinaphone.com.vn/devices/homepage">Thiết bị </a>
            </li>
            <li>
                <a href="http://www.vinaphone.com.vn/products/homepage">Gói cước </a>
            </li>
            <li>
                <a href="http://vinaphone.com.vn/supports/homepage">Hỗ trợ </a>
            </li>
            <li>
                <a href="http://vinaphone.com.vn/supports/support">Liên hệ </a>
            </li>
            <li class="last">
                <a href="http://vinaphone.com.vn/locale.do?language=en ">English </a>
            </li>
        </ul>
        <br>
        <div class="address">Phát triển bởi <strong>VinaPhone</strong> 2005-2012. Bản quyền đã đăng ký.
            <br>
            Giấy phép số: 337/GP-BC do Bộ Thông tin - Truyền thông cấp ngày 10/11/2006. </div>
    </div> 
    <div class="verisign">
        <table title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications." border="0" cellpadding="2" cellspacing="0" width="50">
            <tbody>
                <tr>
                    <td align="center" valign="top" width="50">
                        <!--<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=vinaphone.com.vn&amp;size=S&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script>-->
                        <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=vinaphone.com.vn&amp;lang=en" target="_blank">
                            <img src="http://vinaphone.com.vn/style/images/ver1.png" width="100"></a>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div> 
<div class="Div_Hidden">
    <input type="checkbox" id="IsShowFaceBox" />
    <input type="checkbox" id="IsDeleteContent" checked="checked" />
</div>
<!-- FaceBox !-->
<div class="FaceBox" id="FaceBox">
</div>
<div class="Loading" id="div1">
</div>
<script language="javascript" type="text/javascript">
    chk_IsDeleteContent = document.getElementById("IsDeleteContent");
    chk_IsShowFaceBox = document.getElementById("IsShowFaceBox");

    InitFaceBox();
    
   
</script>

</body> </html> 