<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <link href="{DNS}/Style/ForAll.css" rel="stylesheet" type="text/css" />
    <link href="{DNS}/Style/Vlive.css" rel="stylesheet" type="text/css" />
    <link href="{DNS}/Style/vinphone.css" rel="stylesheet" type="text/css" />
    <link href="{DNS}/Style/FaceBox.css" rel="stylesheet" type="text/css" />
    
    <script src="{DNS}/Javascript/jquery.js" type="text/javascript"></script>
    <script src="{DNS}/Javascript/ForAll.js" type="text/javascript"></script>

    <script src="{DNS}/Javascript/init.js" type="text/javascript"></script>
    <script src="{DNS}/Javascript/CountTime.js" type="text/javascript"></script>

    <script src="{DNS}/Javascript/Vinaphone.js" type="text/javascript"></script>
    <script src="{DNS}/Javascript/FaceBox.js" type="text/javascript"></script>
    
    <title>VliveQuiz</title>
   
</head>
<body>
    <div class="auction">