<div class="menu">
    <div class="left">
    </div>
    <a href="http://vinaphone.com.vn/" class="{0}"><span>TRANG CHỦ</span></a>
    <a href="{DNS}/p/about.htm" class="{1}"><span>GIỚI THIỆU</span></a>
    <a href="{DNS}/p/guide.htm" class="{2}"><span>HƯỚNG DẪN THAM GIA</span></a>
    <a href="{DNS}/p/rule.htm" class="{3}"><span>THỂ LỆ</span></a>
    <a href="{DNS}/p/winner.htm" class="{4}"><span>DANH SÁCH TRÚNG THƯỞNG</span></a>
    <a href="{DNS}/p/faq.htm" class="{5} last"><span>CÂU HỎI THƯỜNG GẶP</span></a>   
</div>
