<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RetryMO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="Oracle_Connection" />
    <add name="Oracle_Connection" providerName="System.Data.OracleClient" connectionString="9qfjwAQCd1ItKuZGY/yQZjlytdhqfaEI0xojokj0VkCvSrjExJCrJjl8ZZ5KeBhPEJ/siItvIkxrK2nxrGsBugwbO9uYkg0ztUdOnylaCwFx8hjHIGV8rW4iM9heBKPt0Kz6Ua3SshQThLNpdWCBSkKUcvDh6L/C1qeMMudQ1WJXDWH/gST7Ud4cYiuBG8+JSvAi4aFSuKJUTnbGoQ6KLsY4ZWUuWL0+fRVa1tH7o0SsRmArpjGhKq4AHrvGhv2YkDgPmqT8kWsNfCVEDl7d1Gwd5Ilv3CtmXyws7dMGjR8=" />
  </connectionStrings>
  <appSettings>
    <add key="GameKeyword" value="GAME5|GM5" />
    <add key="VideoKeyword" value="GAME5|GM5" />
    <add key="RingtoneKeyword" value="GAME5|GM5" />
    <add key="ImageKeyword" value="GAME5|GM5" />
    <add key="TextBaseKeyword" value="TEXT5|TEXT5" />
    <add key="PacketKeyword" value="PACK5|PK5" />
    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BzFlrXMc1gI7RqO+xOWYGwNurswFrieQC7AIo8T9F00ElFT22UyNfpEGNw/wJAcz2A==" />
    <add key="MT_Invalid" value="Welcom to Vlive" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--Thong tin Call WS SendMT-->
    <add key="SendMT_UserName" value="NcsMedia01"/>
    <add key="SendMT_Password" value="82a7e11dd20a14143bbf4f4f16c81bf3"/>
    <add key="SendMT_CPID" value="10000"/>
    
  </appSettings>
  <applicationSettings>
    <RetryMO.Properties.Settings>
      <setting name="RetryMO_WS_Game_Game" serializeAs="String">
        <value>http://115.146.122.170:8691/Game.asmx</value>
      </setting>
      <setting name="RetryMO_WS_Ringtone_Ringtone" serializeAs="String">
        <value>http://115.146.122.170:8691/Ringtone.asmx</value>
      </setting>
      <setting name="RetryMO_WS_Image_Image" serializeAs="String">
        <value>http://115.146.122.170:8691/Image.asmx</value>
      </setting>
      <setting name="RetryMO_WS_Video_Video" serializeAs="String">
        <value>http://115.146.122.170:8691/Video.asmx</value>
      </setting>
      <setting name="RetryMO_WS_TextBase_TextBase" serializeAs="String">
        <value>http://115.146.122.170:8691/TextBase.asmx</value>
      </setting>
      <setting name="RetryMO_WS_SendMT_Service" serializeAs="String">
        <value>http://115.146.122.173:9093/AgentWS/SMSAgentWS.asmx</value>
      </setting>
      <setting name="RetryMO_WS_Packet_Packet" serializeAs="String">
        <value>http://115.146.122.170:8691/Packet.asmx</value>
      </setting>
    </RetryMO.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>