<p>
    <label class="title">
        Số điện thoại:</label>
    <label class="value">
        {0}</label>
</p>
<p>
    <label class="title">
        Vòng đấu:</label>
    <label class="value">
       {1}</label>
</p>
<p>
    <label class="title">
        Điểm số:</label>
    <label class="value">
        {2}</label>
</p>
<p>
    <label class="title">
        Thời gian trả lời:</label>
    <label class="value">
        {3}
        (giây)</label>
</p>
<p>
    <label class="title">
        Ngày bắt đầu:</label>
    <label class="value">
        {4}</label>
</p>
<p>
    <label class="title">
        Ngày kết thúc:</label>
    <label class="value">
       {5}</label>
</p>
