<table cellpadding="4" cellspacing="0" style="border-style: solid none none solid; border-width: 1px; border-color: #000000;">
    <tbody>
        <tr style="background-color: #FFFF00; font-weight: bold;">
            <td colspan="{0}" align="center" style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">THỐNG KÊ VLIVE NGÀY {1}</td>
        </tr>
        <tr style="background-color: #DAEEF3;" align="center">
            <td rowspan="2" style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">NGÀY</td>
            {2}
            <td colspan="2" style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">OTHER</td>
            <td colspan="2" style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">TỔNG</td>
        </tr>
        <tr style="background-color: #DAEEF3;" align="center">
            {3}
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Sản lượng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Doanh thu</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Sản lượng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Doanh thu</td>
        </tr>
       
            {4}
       
    </tbody>
</table>
