<div class="InsertLetter">
    <div class="InsertTitle">
        SỬA BẢN TIN
    </div>
    <div class="Item">
        <span>Mã bản tin:</span>
        <input type="text" id="tbx_LetterID_Edit" disabled="disabled" value="{0}"/>
    </div>
    <div class="Item" id="div_LetterName_Edit">
        <span>Tên bản tin</span>
        <input type="text" id="tbx_LetterName_Edit" value="{1}" />
    </div>
    <div class="Item" id="div_Priority_Edit">
        <span>Độ ưu tiên</span>
        <input type="text" id="tbx_Priority_Edit" value="{2}" />
    </div>
    <div class="ItemButton">
        <input type="button" value="Lưu" id="btn_Edit_Letter" onclick=" EditLetter(this);" />
    </div>
</div>

