<div class="view_item">
    <fieldset>
        <legend>Bản tin {0}</legend>
        <div class="view_letter">
            <div class="title">
                <label>
                    Tiêu đề:</label>
                <b>{1}</b>
            </div>
            <div class="push_time">
                <label>
                    Thời gian phát tin:</label>
                <i>{2}</i></div>
        </div>
        <div class="view_record">
            <div class="parent">
                <fieldset>
                    <legend>Danh sách mẩu tin </legend>
                   {3}
                </fieldset>
            </div>
            <div class="child">
                <fieldset>
                    <legend>Danh sách mẩu tin con</legend>
                   {4}
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>
