<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MyWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IntFormat" value="N0"/>

    <add key="Domain" value="http://localhost:8080/MyWeb_Vlive" />
    <add key="ResourceLink" value="http://daugia.vinaphone.com.vn" />
    <add key="DomainParameter" value="{DNS}" />
    <add key="EncodeConnectString" value="1" />
    <add key="LicenseKey" value="D/0v/S2oobKoBipBzlXF79KEOitpBXhKRd4CDouXq9KtKLb7tu2IFzO3pvab3arLyk/G4FW/r3LiMK/oN25HmA==" />
  

  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <system.web>

    <compilation debug="true">
    </compilation>

    <authentication mode="Windows" />
    <sessionState mode="InProc" />
    <!--<httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <handlers>
      <add name="MyASHXBase" path="*.htm" verb="GET,HEAD,POST,DEBUG" type="MyLoad.Base.MyASHXBase" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AjaxHander" path="*.ajax" verb="GET,HEAD,POST,DEBUG" type="MyAjax.Ajax.MyAjaxHander" />
    </handlers>
  </system.webServer>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="p/home.ashx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="rule_11" virtualUrl="^~/p/(.*)/(.*)/(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/p/$1.ashx?id=$2" ignoreCase="true" />
      <add name="rule_12" virtualUrl="^~/p/(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/p/$1.ashx" ignoreCase="true" />

      

    </rewrites>
  </urlrewritingnet>  
</configuration>