<?xml version="1.0"?>
<appSettings>
  <add key="ResourceLink" value="http://localhost:8080/VliveCMS"/>
  <add key="ExportExcel_Path" value="~/u/ExportExcel/"/>
  <add key="ExportExcel_CPName" value="HB"/>
  
  <add key="MemberGroupID_Admin" value="1" />
  <add key="URLNotLoginFail" value="../Admin/Ad_Login.aspx" />
  <add key="URLLogin" value="../Admin/Ad_Login.aspx" />
  <add key="URLLoginSuccess" value="../Admin/Ad_Default.aspx" />
  <add key="URLNotice" value="../Admin/Ad_Alert.aspx" />
  <add key="LongDateFormat" value="dd/MM/yyyy-HH:mm:ss" />
  <add key="LongDateFormatBR" value="dd/MM/yyyy &lt;br/> HH:mm:ss" />
  <add key="ShortDateFormat" value="dd/MM/yyyy" />
  <add key="cuteEditor_UploadNews" value="/u/news" />

  <add key="News_CateID_1" value="1" />

  <add key="News_CateID" value="1" />
  
  <add key="LichVanSu_CateID" value="2" />
  <add key="YTe_CateID" value="3" />
  <add key="Clip_CateID" value="4" />
  <add key="Game_CateID" value="5" />
  <add key="TinTuc_CateID" value="6" />
  <add key="TuVan_CateID" value="7" />
  <add key="GiaiTri_CateID" value="8" />
  <add key="NhacCho_CateID" value="9" />
  <add key="GameVlive_CateID" value="10" />
  <add key="NhacChuong_CateID" value="11" />
  <add key="TheThao_CateID" value="12" />
   <add key="TongHop_CateID" value="13" />
  
  <add key="LichVanSu_FileName" value="HB_VLive_LVS" />
  <add key="YTe_FileName" value="HB_VLive_YTe" />
  <add key="Clip_FileName" value="HB_VLive_Clip" />
  <add key="Game_FileName" value="HB_VLive_Game" />
  <add key="TinTuc_FileName" value="HB_VLive_TinTuc" />
  <add key="TuVan_FileName" value="HB_VLive_TuVan" />
  <add key="GiaiTri_FileName" value="HB_VLive_GiaiTri" />
  <add key="NhacCho_FileName" value="HB_VLive_NhacCho" />
  <add key="NhacChuong_FileName" value="HB_VLive_NhacChuong" />
  <add key="GameVlive_FileName" value="HB_VLive_GameVlive" />
  <add key="TheThao_FileName" value="HB_VLive_TheThao" />
  <add key="TongHop_FileName" value="HB_VLive_TongHop" />


  <add key="EncodeConnectString" value="1" />
  <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BzFlrXMc1gI7RqO+xOWYGwNurswFrieQC7AIo8T9F00ElFT22UyNfpEGNw/wJAcz2A==" />

  
  
  <!-- Upload Image config default !-->
  <add key="UI_Thumb" value="false"/>
  <add key="UI_GeneralFN" value="false"/>
  <add key="UI_Path" value="~/u/img"/>
  <add key="UI_Extension" value=".png|.gif|.jpg|.jpeg"/>
  <add key="UI_MaxSize" value="10240"/>
  <add key="UI_WH_Thumb" value="90x60"/>

  <!-- Cấu hình upload Image cho member !-->
  <add key="Member_UI_Path" value="~/u/mi/"/>
  <add key="Member_UI_MaxSize" value="100"/>
  <!-- Cấu hình upload Image cho Menu !-->
  <add key="Menu_UI_Path" value="~/u/menui/"/>
  <add key="Menu_UI_MaxSize" value="100"/>
  
  <!-- Cấu hình upload Image cho Product!-->
  <add key="Product_UI_GeneralFN" value="true"/>
  <add key="Product_UI_Path" value="~/u/pi/"/>
  <add key="Product_UI_MaxSize" value="10"/>

  <!-- Cấu hình upload Image cho Product!-->
  <add key="Product_UI_GeneralFN" value="true"/>
  <add key="Product_UI_Path" value="~/u/ni/"/>
  <add key="Product_UI_MaxSize" value="10"/>

  <!-- Cấu hình mặc định cho upload file (UF) !-->
  <add key="UF_MaxSize" value="10240"/>
  <add key="UF_Path" value="~/u/uf/"/>
  <add key="UF_Extension" value=""/>
  <!--Cho phép tạo file name không trùng lặp-->
  <add key="UF_GeneralFN" value="true"/>
</appSettings>