<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
 </configSections>
 <appSettings file="Upload.config">
	</appSettings>
  <connectionStrings>
		<remove name="strConnection" />
    <!--<add name="strConnection" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhXRSU9eFuj7UHv1Z6gNs4LOf585HqBuH730CFJjP0uunj3cV4K22NHjZ2iv8C7LAEsNFmPanTt/4tCeci/pefX1SB8XJdWmeyQX251izjCjVsEVrYW23dwllhPOzNyW50SdK/Nyczm77XIChb8FhR4A=="/>-->
    
    <!--Hot-->
    <add name="strConnection" providerName="System.Data.SqlClient"  connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23LlzcVgln0fOcEM3QuAl7wTWkBeBo8y3fMUFzLvJVJy09cfan3y1aLbiIcmyw0QLRMrqpcOIm20td9osqK9dwEWd+nG5x5zIPbEEcJBQ3XeFpJ047DjVCSXxULMDMMpB6J8XZMoiKLsUkQFU3laLLL0HSOWd7Roa35SthppYtP/LD9cMTlETZnNi1gHZXeQU1/+MDCFO6cBaqNB5asROlbq4q"/>

    <remove name="Oracle_Connection" />
    <add name="Oracle_Connection" providerName="System.Data.OracleClient"  connectionString="0ua3v2twC89SS4glNESeQyFY6JQbFt4nCzRM7gTqHMJQACO74x8s+iiIGPR2JlpDgGpbFMz0w2rVtpcmXulMcrik7vbzPERu9ISxqPR1n22kzLrYND6IDavkQBeiFqs21VxBhNHne6wm1gefhq8DMuIKLGfsRrbOW0dvfYMuawe615b9aiQdKKGKExlnOfbqcgTV0HgjYfDw2+gUEzFBGg9qnxp91/NZ8Ua6wZQysWSbpv1YCkACVlVBFcOXaotDPbii0xiUvk4TOr8c8GF/2HDKJ5PAlJLFPH5wi/LEy4A="/>
    
	</connectionStrings>
  <system.webServer>
    <handlers>
      <add name="AjaxHander" path="*.ajax" verb="GET,HEAD,POST,DEBUG" type="MyAjax.Ajax.MyAjaxHander" />
    </handlers>    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600">
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>    
  </system.webServer>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <httpRuntime maxRequestLength="100000" />
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows" />   
  </system.web>
</configuration>
